---
const pageTitle = "Блог"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">На Главную</a>
        <a href="/about/">Обо мне</a>
        <a href="/blog/">Блог</a>
        
        <h1>{pageTitle}</h1>
        <h2>...and my astro site</h2>
        <p>Я пытаюсь изучать Астро</p>
        <p>Буду добавлять сюда больше инфы по мере изучения</p>
        <p>Хочу наколбасить смешной лендос на тему образования</p>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
	</body>
</html>
